<table>
  <tbody>
    <tr>
      <th>Counter Id</th>
      <td>
        <input type="text" id="counter_id" 
                           value="<%= settings['counter_id'] %>" 
                           name="settings[counter_id]" >
      </td>
    </tr>
  </tbody>
</table>